# HyperPyYAML unit tests to ease continuous integration
name: HyperPyYAML toolkit CI

# Runs on pushes to master and all pull requests
on:
    push:
        branches: [main]
    pull_request:

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: [3.9, 3.14]
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Display Python version
              run: python -c "import sys; print(sys.version)"
            - name: Full dependencies
              run: |
                  pip install --editable .
                  pip install pytest
            - name: Run tests with pytest
              run: |
                  pytest tests
            - name: Doctests with pytest
              run: |
                  pytest --doctest-modules hyperpyyaml
